{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Stocks
{% endblock %}
{% block content %}
<span>
    <center class="container"><h1 style="color: thistle;margin-top: 100px;"></h1></center>
</span>
<center>
    <div class="jumbotron row">
        <div class="jumbotron row">
                {% for stock in stocks %}    

                <div class="col-md-12 card mx-3 my-5">
                    <a href="{% url 'stock:detail' slug=stock.slug %}">
                    <div class="col-md-6">
                        <table>
                            <tr>
                                <td>
                                    <p>Stock name:</p>
                                </td>
                                <td>
                                    <p>{{stock.name}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Price:</p>
                                </td>
                                <td>
                                    <p>{{stock.price}}</p>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
<style>
    .btn{
        border-radius: 15px;
    }
</style>
</center>
{% endblock %}